.principal {

    display: flex;
    flex-direction: row;
    
    
    
    .segunda-principal{
     display: flex;
     flex-direction: row;
     margin: 7em 0em 0em 7em; 
    }

    .container-direita{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 25vw;
     height: 60vh; 
    }

    .container-esquerda {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20vw;
        height: 60vh;
    }

    label {
        font-family: 'Abhaya5';
        font-size: 1.3em;
        color: #6F4528;
    }

    input::placeholder {
        font-family: 'Poppins2';
        font-size: 1em;
        color: #615656;
    }

    .input-indicacao {
        box-shadow: 0px 0px 40px rgba(34, 34, 34, 0.25);
        border-radius: .4em;
        border: 2.3px solid #fff;
        height: 4vh;
        width: 18vw;
    }

    .categoria {
        width: 18.5vw;
        height: 4.5vh;
        font-family: 'Poppins2';
        color: #615656;
        box-shadow: 0px 0px 40px rgba(34, 34, 34, 0.25);
        border: none;
        border-radius: .4em;
        cursor: pointer;
    }

    .div-final {

        display: flex;
        flex-direction: column;
    
    }

    .imagem-indicacao{

            display: flex;
            justify-content: center;
            align-items: center;
    
            border: 1px solid #DFDFDF;
            border-radius: 3px;
            height: 25vh;
            width: 18.5vw;
            margin-top: 1em;
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
            cursor: pointer;
    }

    #imagem-oculta{
        visibility: hidden;
        position: absolute;
    }

    .botao-publicar{
        background-color: #6F4528;
        border: none;
        width: 15vw;
        height: 5vh;
        margin-left: 25px;
        border-radius: 10px;
        color: #fff;
        font-family: 'Poppins5';
        cursor: pointer;
        
    }

    

    .imagem-capa{
        height: 25vh;
        width: 18.5vw;
        border-radius: 3px;
    }
























}