.container-comentario {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #73401E;
    //border: 1px solid red;

    .container-nome-coment {
        display: flex;
        justify-content: left;
        align-items: center;
        justify-content: center;
        height: 4vh;
        width: 15vw;
        padding: 2px 6px;
        margin-bottom: 1.2em;
        margin-left: 1em;
        border-radius: 5px;
        border: 2px solid #000001;
        background-color: #ffffff;
        font-family: 'Abhaya2';
        font-size: 1.2em;
    }

    textarea {
        height: 85px;
        width: 270px;
        padding: 4px 8px;

        font-size: 16px;
        font-weight: 500;
        margin-left: 1em;
        resize: none;
        border: 2px solid #000000;
        border-radius: 5px;
    }

    .botao-comentario{
        margin-left: 1em;
        margin-top: 1em;
        width: 10vw;
        height: 4vh;
        border: 2px solid #000000;
        font-family: 'Abhaya2';
        font-size: 1.2em;
        color: #000000;
        border-radius: 10px;

    }


}