.page-login2 {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .container-esquerdo {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 50vw;
        width: 50vw;
        background-color: #FFFFFF;
    }

    h1 {
        font-size: 2.7em;
        color: #73401E;
        font-weight: 800;
        
        margin-top: 2em;
        margin-bottom: 2.4em;
    }

    .container-inputs {
        max-width: 300px;
        width: 100%;
    }

    .container-inputs div{
        margin-top: 2.5em;
    }
    
    .container-inputs input{
        width: 100%;
        border: 2px solid #73401E;
        border-radius: 7px;
        padding: 8px;

        font-size: 15px;
        letter-spacing: 0.5px;
    }

    .container-inputs input::placeholder {
        color: #73401E;
    }

    .container-inputs p{
        text-align: left;
        font-size: 24px;
        font-weight: 800;
        color: #73401E;

        margin-bottom: 2px;
        margin-left: 5px;
    }

    button {
        max-width: 13vw;
        width: 100%;
        color: #73401E;
        background-color: #FFDFC1;

        border: none;
        border-radius: 16px;
        font-size: 1.3em;
        font-weight: 800;
        padding: 5px;
        margin-top: 4em;
    }

    button:hover {
        transform: translateY(-2px);
        transition: 0.5s;

        background-color: #ffd5ae;
    }

    .container-cadastre-se {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-top: 3em;
    }

    .container-cadastre-se p {
        color: rgb(92, 92, 92);
        font-size: 17px;
    }

    a {
        text-decoration: none;
        font-size: 17px;

        margin-left: 5px;

    }


    .container-direito {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        max-width: 50vw;
        width: 50vw;

        background-color: #FFECDA;
    }

    .container-direito h3 {
        color: #73401E;
        font-weight: 600;
        width: 24vw;
        font-size: 25px;
    }

    .img-paiLogin {
        height: 500px;
        width: 300px;
    }

    .img-bola-direita {
        position: absolute;

        right: 0;
        bottom: 0;
        height: 100px;
    }

    .img-bola-esquerda {
        position: absolute;

        left: 0em;
        top: 0;
        height: 100px;
    }
}