.page-perfil-user {
    display: flex;
    flex-direction: row;

    position: relative;

    .container-meio {
        display: flex;
        justify-content: center;

        height: 100vh;
        width: 100%;
    }

    .container-perfil {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 45vh;
        width: 80%;

        margin-top: 2em;
    }

    .circulo-inicial {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 11vh;
        width: 13%;

        background-color: #6F4528;
        border-radius: 15em;
    }

    .circulo-inicial p {
        color: #FFFFFF;
    }

    .container-square {
        display: flex;
        flex-direction: column;

        width: 85%;
    }

    .container-credenciais {
        display: flex;
        flex-direction: column;
    }

    .container-credenciais h3 {
        margin-bottom: -1em;
    }

    .container-credenciais p {
        color: #B4B4B4;
    }

    .container-solicitacoes {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container-botoes-mensagens {
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 5vh;

        box-shadow: 4px 4px 4px #B4B4B4;
        border-radius: 10px 10px 0px 0px;
    }

    .container-botoes-mensagens div {
        cursor: pointer;
    }

    .container-botoes-mensagens div p {
        font-weight: 700;
        font-size: 13px;
    }

    .container-mensagens {
        display: flex;
        align-items: center;


        width: 50%;
        height: 100%;

        border-bottom: 2.5px solid #6F4528;

    }

    .container-mensagens2 {
        display: flex;
        align-items: center;


        width: 50%;
        height: 100%;
    }

    .container-publicacoes {
        display: flex;
        align-items: center;


        width: 50%;
        height: 100%;

        border-bottom: 2.5px solid #6F4528;
    }

    .container-publicacoes2 {
        display: flex;
        align-items: center;


        width: 50%;
        height: 100%;
    }

    table {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 30vh;
        width: 100%;

        margin-top: .5em;
    }

    .container-botoes-mensagens p {
        margin-left: 1em;

        font-size: 12px;
        font-weight: 500;
    }

    thead td {
        width: 100%;
    }

    .titulo-psicologo {
        width: 28vw;
        text-align: left;
    }

    .titulo-situacao {
        width: 9vw;
    }

    .botao-limpar {
        width: 12vw;
        height: 4vh;

        color: #FFFFFF;
        background-color: #6F4528;
        border-radius: .4em;
    }

    .corpo-teste {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 99%;
        height: 5vh;
    }

    .titulo-doutores {
        width: 27.7vw;

        margin-left: 3px;
    }

    .titulo-resultado-situacao {
        width: 10vw;
        text-align: center;
    }

    .img-msg-chat {
        width: 2.5vw;
        text-align: center;

        margin-left: 6px;
        cursor: pointer;
    }

    .img-lixo-black {
        width: 2.5vw;
        text-align: center;

        margin-left: 1.5em;
        cursor: pointer;
    }

    tbody {
        display: block;
        height: 25vh;
        overflow-y: scroll;
    }

    tbody::-webkit-scrollbar-track {
        border-radius: 16px;
        background-color: #D0D4CE;
    }

    tbody::-webkit-scrollbar {
        border-radius: 16px;
        width: 8px;
        background-color: #D0D4CE;
    }

    tbody::-webkit-scrollbar-thumb {
        border-radius: 16px;
        background-color: #6F4528;
    }



    tbody tr:nth-child(even) {
        background-color: #FFB48A;
    }

    tbody tr:nth-child(odd) {
        background-color: #C57D56;
    }

    

    tr td {
        font-weight: 700;
    }

    tr td:nth-last-child(1) * {
        visibility: hidden;
    }

    tr td:nth-last-child(2) * {
        visibility: hidden;
    }

    tr:hover td:nth-last-child(1) img {
        visibility: visible;
    }

    tr:hover td:nth-last-child(2) img {
        visibility: visible;
    }

    .titulo-nome {
        width: 22vw;
        text-align: left;
    }

    .titulo-data {
        width: 9vw;
    }

    .nome-publicacao {
        width: 22vw;

        margin-left: 2.5px;
    }

    .data-publicacao {
        width: 9vw;
        text-align: center;

        margin-left: 2px;
    }

    .img-lapis {
        width: 2vw;
        text-align: right;
    }

    .img-lixo-publicacoes {
        width: 2.5vw;
        text-align: right;
    }

    @media(max-width: 1024px) {
        .botao-limpar {
            font-size: 14px;
        }

        .circulo-inicial {
            height: 9vh;
            width: 12.5%;
        }
    }

    @media(max-width: 914px) {
        .circulo-inicial {
            height: 8.1vh;
            width: 13%;
        }

        .container-square {
            margin-left: 20px;
        }

        .titulo-psicologo {
            width: 26vw;
        }

        .titulo-doutores {
            width: 25.8vw;
        }

        .titulo-nome {
            width: 19vw;
            text-align: left;
        }

        .nome-publicacao {
            width: 19vw;
    
            margin-left: 2.5px;
        }
    
        .titulo-data {
            width: 11vw;
        }

        .data-publicacao {
            width: 11vw;
            text-align: center;
        }

    }

    @media(max-width: 870px) {
        .circulo-inicial {
            height: 8vh;
            width: 13%;
        }

        .botao-limpar {
            font-size: 12px;
        }

        .nome-publicacao {
            font-size: 14px;
        }
    
        .titulo-data {
            width: 10vw;
        }

        .data-publicacao {
            font-size: 14px;
        }

        .titulo-resultado-situacao {
            font-size: 14px;
        }

        .titulo-doutores {
            font-size: 14px;
        }
    }

    @media(max-width: 760px) {
        .circulo-inicial {
            height: 8vh;
            width: 14.5%;
        }

        .botao-limpar {
            width: 10vw;
            font-size: 10px;
        }
    }

    @media(max-width: 690px) {
        .circulo-inicial {
            margin-top: 12px;
            height: 7vh;
            width: 14.5%;
        }
    }

    @media(max-width: 630px) {
        .circulo-inicial {
            height: 6vh;
            width: 14%;
        }

        .titulo-psicologo {
            width: 28vw;

            font-size: 13px;
        }
    
        .titulo-situacao {
            width: 9vw;

            font-size: 13px;
        }

        .titulo-doutores {
            font-size: 12px;
        }

        .titulo-resultado-situacao {
            font-size: 12px;
        }

        .container-botoes-mensagens div p {
            font-weight: 700;
            font-size: 12px;
        }
    }

    @media(max-width: 440px) {
        .circulo-inicial {
            height: 4.5vh;
            width: 20%;
        }

        .container-square {
            margin-right: -1em;
        }

        .titulo-psicologo {
            width: 28vw;

            font-size: 12px;
        }
    
        .titulo-situacao {
            width: 9vw;

            font-size: 12px;
        }

        .titulo-doutores {
            font-size: 11px;
        }

        .titulo-resultado-situacao {
            font-size: 11px;
        }

        .container-botoes-mensagens div p {
            font-weight: 700;
            font-size: 13px;
        }
    }
}