.page-user-indicacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    position: relative;

    .container-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        

        height: 10vh;
        width: 90vw;

        margin-top: 1.5em;

        border: 1px solid red;
    }

    .botao-home {
        padding: 8px 35px;

        border: none;
        border-radius: 2em;
        color: #ffffff;
        background-color: #73401E;

        cursor: pointer;
        font-weight: 500;
        letter-spacing: .6px;

        margin-right: 5em;
    }

    input {
        max-width: 500px;
        width: 100%;

        padding: 4px;
        border: 3px solid #6F4528;
        border-radius: 6px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    }

    .container-meio {
        display: flex;
        flex-direction: row;

        width: 99.8vw;

        border: 1px solid red;
    }

    h2 {
        font-size: 20px;
        font-weight: 500;

        margin-left: 3.5em;
    }

    .container-cards {
        display: flex;
        flex-direction: column;
    }

    .subcontainer-cards {
        display: flex;
        flex-direction: row;

        margin-left: 2.5em;
    }

    .container-mapa {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        border: 1px solid red;
    }

    .botao-mapa {
        display: flex;
        align-items: center;
        padding: 2px 35px;

        border: 3px solid #6F4528;
        border-radius: 5px;
        color: #73401E;
        background-color: #ffffff;

        cursor: pointer;
        font-weight: 500;
        letter-spacing: .6px;

        margin-top: 3em;
    }

    .container-mapa img {
        margin-left: 15px;
    }

    .imagem-triangulo-direito {
        position: absolute;

        right: 0;
        top: 0;
    }
    
    .imagem-triangulo-esquerdo {
        position: absolute;

        left: 0;
        bottom: 0;
    }
}