.page-indicacao {
    background-attachment: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .div-direita{
        width: 70%;
        height: 90vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-cards {
        overflow-y: scroll;

        width: 60vw;
    }

    .container-cards::-webkit-scrollbar-track {
        border-radius: 16px;
        background-color: #D0D4CE;
    }

    .container-cards::-webkit-scrollbar {
        border-radius: 16px;
        width: 8px;
        background-color: #D0D4CE;
    }

    .container-cards::-webkit-scrollbar-thumb {
        border-radius: 16px;
        background-color: #6F4528;
    }

    .card-principal {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52vw;
        height: 35vh;
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.25);
        margin: 30px 0px 0px 0px;
    }

    .card-principal:hover {
        transform: translateY(-1px);
    }

    h4 {
        font-size: 0.7em;
        font-family: 'Poppins5';
        align-items: center;
        letter-spacing: 1px;    
        color: #73401E;
        border: 1px solid;
        
    }

    p {
        font-size: 0.7em;
        font-family: 'Poppins6';
    }


    .card-indicacao {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 0px 20px;
        width: 25vw;
        flex-wrap: wrap;
        height: 27vh;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #615656;
        
        
    }

    .div-alinhamentos{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .span-titulo{
        color: #73401E;
        font-size: 0.8em;

    }

    .span-texto{
        color: #615656;
        font-size: 0.9em;
        margin: 0px 0px 22px 0px;
    }
    
    .div-botoes{
       
        height: 20vh;
        width: 2.5vw;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .botoes-alterar:hover{
        cursor: pointer;
    }

    .imagem-indicacao{
        width: 18vw;
        height: 20vh;
    }

    .icone-adicionar:hover{
        cursor: pointer;
    }

}