.pagina1 {
    display: flex;
    flex-direction: column;


    .conteiner1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 1px solid red;

        width: 100%;

    }

    .logo-mae {

        width: 11vw;
        height: 9vh;
        margin: 1em 1em 1em 1em;


    }

    .texto-1 {
        display: flex;
        max-width: 100%;
        width: 85vh;
        height: 8vh;

        font-family: 'Abhaya2';
        font-size: 1.2em;
        font-weight: 200;
        gap: 5em;
        border: 1px solid red;

        margin-right: 5em;
        top: 1em;
    }

    .botao1 {
        border-radius: 0.5em;
        border: none;
        background: #C57D56;
        color: black;
        width: 20vh;
        height: 7vh;

        font-size: 1.3em;
        font-family: 'Abhaya2';

        margin-right: 2em;

        border: 1px solid red;
    }

    .conteiner2 {
        display: flex;
        flex-direction: row;

        border: 1px solid red;


    }

    .imagem-bb {
        position: absolute;
        width: 35vw;
        height: 80vh;

        border: 1px solid red;

    }

    .onda-1 {

        width: 100%;
        height: 30em;

        border: 1px solid red;
    }

    .texto-2 {
        position: absolute;
        font-size: 2.5em;
        width: 16em;
        font-family: 'Abhaya2';
        left: 13em;
        top: 5em;
        color: #6F4528;

        border: 1px solid red;
    }

    .conteiner3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 1px solid red;

        width: 100%;
    }

    .maos {
        width: 40vw;
        height: 60vh;


        border: 1px solid red;



        filter: drop-shadow(5.68867px 5.68867px 4.55094px rgba(0, 0, 0, 0.25));
        transform: rotate(8.07deg);


    }

    .sobre-nos {

        border: 1px solid red;


        margin-left: 2em;
        font-size: 1.5em;
        font-family: 'Abhaya4';
        color: #6F4528;

        height: 1em;
    }

    .texto-3 {

        width: 25em;
        margin-top: 6em;
        margin-right: 10e, ;

        font-size: 1em;
        border: 1px solid red;
    }

    .conteiner4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid red;

        width: 100%;
    }

    .primeira {
        width: 100%;
        height: 30em;


        border: 1px solid red;
    }

    .segunda {

        width: 100%;
        height: 30em;

        border: 1px solid red;

        margin-top: -2em;

    }

    .missao {
        position: absolute;
        font-size: 2.4em;
        font-family: 'Abhaya3';
        margin-top: 3.5em;

        color: #6F4528;


        //border: 1px solid red;
        margin-left: 18em;

    }

    .linha1 {
        position: absolute;
        margin-top: 11em;

        margin-left: 22em;
        width: 18em;
      
       
    }

    .texto-4{
        position: absolute;
        margin-top: 10em;
        font-size:1.3em;
        font-family: 'Abhaya3';
        margin-left: 36em;
    }

    .quadrado{
        position: absolute;
        width: 10em;
        height: 10em;
       
     
        left: 20em;
        margin-top: 13em;
    }

}