.psi-page{
    display: flex;
    flex-direction: row;


    .retangulo{
        width: max-content;
        width: 100%;
    }
    
    .div-principal{
        display: flex;
        flex-direction: row;

        align-items: center;
        width: 100vw;
    }



    .div-informações{
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 15px;
    }

    .span-titulo{
        color: #73401E;
        font-size: 0.8em;
    }

    .span-informacao{
        color: #615656;
        font-size: 0.9em;
        margin: 0px 0px 25px 0px;
    }

    .div-cardInformacoes{
        background: #FFFFFF;
        box-shadow: 0px 0px 10px 1px #9E9E9E;
        border-radius: 12px;
        height: 55vh;
        margin: 3em 0em 0em 0em;
    }

    .div-secundaria{
        width: 50vw;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        padding-right: 2em;
        overflow-y: scroll;
    }

    .div-secundaria::-wzebkit-scrollbar-track {
        border-radius: 16px;
        background-color: #D0D4CE;
    }

    .div-secundaria::-webkit-scrollbar {
        border-radius: 16px;
        width: 8px;
        background-color: #D0D4CE;
    }

    .div-secundaria::-webkit-scrollbar-thumb {
        border-radius: 16px;
        background-color: #6F4528;
    }

    .div-img-setinha{ 
        display: flex;
        justify-content: flex-end;
        width: 15vw;
    }

    
}