

.comp-menu{


    .card-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F3C3A3;
        width: 25vw;
        height: 100vh;
    }

    .logo {
        width: 11em;
        margin-top: 3em;
        margin-left: -2em;

    }

    .botoes {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    
        
       
    }

    button {
        font-size: 1em;
        width: 25vh;
        height: 3.8vw ;
        border-radius: 0.4em;
        background-color: #F3C3A3;
        border-color: #6F4528;
        color: #6F4528;
        font-family: "Poppins5";
        cursor: pointer;
        

    }

    button::after {
        background-color: #6F4528;
    } 

    .hb {
        margin-top: 2.2em;

    }

    .pb {
        margin-top: 2.2em;
    }

    .prb{
        margin-top: 2.2em;

    }

    .ib{
        margin-top: 2.2em ;
    }

    .botao-final {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 9em;
        margin-right: 3.4em;
        width: 5vh;


    }

    .bo-final{
        width: 2em;
        height: 2em;
        
    }

    .b-final {
        border: none;
    }
}