.comp-menu{

    .selected{
        background-color: #6F4528;
        color: white;
    }

    .card-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #F3C3A3;
        width: 25vw;
        height: 100vh;
    }

    

    .logo {
        width:19vw;
        height: 11vh;
        margin-left: -1em;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        height: 52vh;
        justify-content: space-between;
    }

    

    button {
        font-size: 1.3em;
        width: 20vh;
        height: 3.8vw ;
        border-radius: 0.5em;
        background-color: #F3C3A3;
        border: 2.5px solid #6F4528;
        color: #6F4528;
        font-family: "Poppins5";
    }

    .botao-final {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 3.4em;
        width: 5vh;
    }

    .botao-final:hover{
        cursor: pointer;
    }

    .bo-final{
        width: 2em;
        height: 2em;
        
    }

    .b-final {
        border: none;
    }

    button:hover{
        cursor: pointer;
    }
}