.page-cadastro {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    height: 100%;

    .container-esquerdo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        max-width: 50vw;
        width: 50vw;
        background-color: #FFECDA;
        
    }

    h3 {
        width: 28vw;
        font-size: 25px;
        font-weight: 600;
        color: #73401E;
        margin-bottom: 5em;
    }

    .container-direito {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        max-width: 50vw;
        width: 50vw;
        text-align: center;
    }

    .sub-container-direito {
        display: flex;
        flex-direction: column;
        
        
    }

    h1 {
        font-size: 43px;
        font-weight: 700;

        color: #73401E;
        
    }

    .container-inputs {
        display: flex;
        flex-direction: column;

        margin-bottom: 1em;
        max-width: 420px;
    }

    .container-input-individual {
        text-align: left;
        max-width: 420px;
    }

    .container-input-individual p {
        margin-bottom: .2em;
        font-size: 20px;
        font-weight: 800;
        color: #73401E;
    }

    .titulo-input {
        margin-bottom: 0;
        margin-left: 10px;
    }
    
    .input-credenciais {

        width: 100%;
        padding: 7px;
        border: 2px solid #73401E;
        border-radius: 6px;
    }

    .container-termos {
        margin-top: 1.5em;
        width: 100%;

    }

    .container-checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-checkbox p {
        max-width: 400px;
        text-align: left;
            
        color: #73401E;
        font-size: 20px;
        font-weight: 700;
    }

    .input-checkbox {
        height: 28px;
        width: 28px;
        
        border-radius: 20px;
        margin-right: 10px;
    }

    .container-criar-conta {
        display: flex;
        flex-direction: column;

        align-items: center;
        margin-top: 2em;
    }

    .botao-criar-conta {
        width: 100%;

        border-radius: 18px;
        background-color: #FFDFC1;
        border: none;
        cursor: pointer;
        color: #73401E;
        font-size: 25px;
        font-weight: 800;
        
    }

    .botao-criar-conta2 {
        position: absolute;
        visibility: hidden;
    }

    .botao-criar-conta:hover {
        transform: translateY(-2px);
        transition: 0.5s;

        background-color: #ffd5ae;
    }

    .container-faca-login {
        display: flex;
        flex-direction: row;

        align-items: center;
    }
    
    .container-faca-login p {
        color: rgb(129, 129, 129);
    }

    a {
        text-decoration: none;

        margin-left: 3px;
    }

    .img-maeCadastro {
        height: 500px;
        width: 400px;
        margin-top: 5em;
    }


    .img-bola1 {
        position: absolute;
        right: 0em;
        top: 0;
        height: 100px;
    } 

    .img-bola2 {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
    }
}