.page-perfil-psicologo {
    display: flex;
    flex-direction: row;

    .container-principal-direito {
        display: flex;
        flex-direction: column;

        height: 100vh;
        width: 100%;
    }

    .container-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 21vh;
        width: 28vw;
        margin-left: 6em;
    }

    .container-bola {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 8vh;
        width: 6vw;
        border-radius: 5em;
        background-color: #6F4528;
        color: #FFFFFF;
        margin-left: .5em;
    }

    .container-bola p {
        font-size: 20px;
        font-weight: 600;
    }

    .container-email {
        display: flex;
        flex-direction: column;
        
        margin-left: 3em;
    }

    .container-email p {
        margin-top: -1.5em;
        font-size: 13px;
        color: #B4B4B4;
    }

    .container-meio {
        display: flex;
        flex-direction: row;

        height: 100%;
    }

    .container-credenciais {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 35vh;
        width: 40%;

        padding: 1.5em;
        box-shadow: 0px 5px 10px #B4B4B4;

        margin-left: 1em;
        margin-right: 8px;
        border-radius: 1em;
    }

    .container-credenciais p {
        display: flex;

        font-weight: 600;
    }

    .container-credenciais p img {
        margin-right: 10px;
    }

    .container-verificacoes {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container-botoes-mensagens {
        display: flex;
        flex-direction: row;

        height: 7vh;
        width: 100%;
        box-shadow: 4px 4px 4px #B4B4B4;
    }

    .container-botoes-mensagens div {
        cursor: pointer;
    }

    .container-botoes-mensagens p {
        font-weight: 700;
        font-size: 14px;

        margin-left: 1.3em;
    }

    .botao-mensagens {
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;

        border-bottom: 2.5px solid #6F4528;
    }

    .botao-mensagens2 {
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
    }

    .botao-publicacoes {
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;

        border-bottom: 2.5px solid #6F4528;
    }

    .botao-publicacoes2 {
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
    }

    table {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 30vh;
        width: 100%;

        margin-top: .5em;
    }
    
    .container-nome {
        width: 20vw;
        text-align: left;
        padding-left: 5px;
    }

    .container-telefone {
        width: 12vw;
    }

    .container-analise {
        width: 11.5vw;
    }

    .nome-solicitante {
        width: 20vw;
        padding-left: 5px;
    }

    .telefone-solicitante {
        width: 12vw;
        text-align: center;
    }

    .analise-solicitante {
        width: 12vw;
        text-align: center;
    }

    .analise-solicitante img {
        margin-left: 7px;
    }


    .corpo-teste {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 99%;
        height: 5vh;

        margin-left: 3px;
    }


    .titulo-nome {
        width: 22vw;
        text-align: left;
        padding-left: 3px;
    }

    .titulo-data {
        width: 9vw;
    }

    .nome-publicacao {
        width: 21.7vw;

        margin-left: 2.5px;
    }

    .data-publicacao {
        width: 9vw;
        text-align: center;

        margin-left: 2px;
    }

    .titulo-resultado-situacao {
        width: 8.2vw;
        text-align: center;
    }

    .titulo-situacao {
        width: 7.7vw;
    }

    .img-lapis {
        width: 2vw;
        text-align: right;
    }

    .img-lixo-publicacoes {
        width: 2.5vw;
        text-align: right;
    }




    tbody {
        display: block;
        height: 25vh;
        overflow-y: scroll;
    }

    tbody::-webkit-scrollbar-track {
        border-radius: 16px;
        background-color: #D0D4CE;
    }

    tbody::-webkit-scrollbar {
        border-radius: 16px;
        width: 8px;
        background-color: #D0D4CE;
    }

    tbody::-webkit-scrollbar-thumb {
        border-radius: 16px;
        background-color: #6F4528;
    }



    tbody tr:nth-child(even) {
        background-color: #FFB48A;
    }

    tbody tr:nth-child(odd) {
        background-color: #C57D56;
    }

    

    tr td {
        font-weight: 700;
        font-size: 13px;
    }

    tr td:nth-last-child(1) * {
        visibility: hidden;
    }

    tr td:nth-last-child(2) * {
        visibility: hidden;
    }

    tr:hover td:nth-last-child(1) img {
        visibility: visible;
    }

    tr:hover td:nth-last-child(2) img {
        visibility: visible;
    }
}