

.page-loginAdm{
    
        background-color: #F3C3A3;
        background-image: url(../../../../public/assets/images/loginadm.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50%;
       
        height: 100vh;
    

    .card-login{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 90vh;
    }

    .h1-login{
        color: #73401E;
    }

    .texto-login{
        color: #73401E;
        font-weight: 600;
        font-size: 30px;
        line-height: 33px;
        
    }

    .input-login{
        background: #FFFFFF;
        border: 2.4px solid #73401E;
        border-radius: 10px;
        width: 20vw;
        
        padding: 12px 16px 14px;
    }

    input::placeholder{
        color:#73401E;
        margin: 10px;
    }

    .botao-login{
        width: 10vw;
        height: 5vh;
        background: #6F4528;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        font-size: 1.3em;
        line-height: 33px;
        color: #FFFFFF;
    }

    .div-input{
        display: flex;
        flex-direction: column;
    }

    .div-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25vh;
    }
}