@font-face {
    font-family: 'Poppins1';
    src: url("../../public/assets/fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
    font-family:'Poppins2' ;
    src: url("../../public/assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: 'Poppins3' ;
    src: url("../../public/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: 'Poppins4';
    src: url("../../public/assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
}

@font-face {
    font-family: 'Poppins5';
    src: url("../../public/assets/fonts/Poppins/Poppins-SemiBold.ttf");
}


@font-face {
    font-family: 'Abhaya1';
    src: url("../../public/assets/fonts/Abhaya_Libre/AbhayaLibre-Bold.ttf");
}


@font-face {
    font-family: 'Abhaya2';
    src: url("../../public/assets/fonts/Abhaya_Libre/AbhayaLibre-ExtraBold.ttf");
}

@font-face {
    font-family: 'Abhaya3';
    src: url("../../public/assets/fonts/Abhaya_Libre/AbhayaLibre-Medium.ttf");

}


@font-face {
    font-family: 'Abhaya4';
    src: url("../../public/assets/fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf");

}


@font-face {
    font-family: 'Abhaya5';
    src: url("../../public/assets/fonts/Abhaya_Libre/AbhayaLibre-SemiBold.ttf");

}