.comp-indicacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .card-indicacao {
        display: flex;
        flex-direction: column;
        height: 58vh;
        width: 26vw;
        border: 3px solid #6F4528;
        border-radius: 10px;

        padding: 22px;
    }

    .text-hosp {
        text-align: center;

        background-color: #A3C;
        border-radius: 5px;
        color: #ffffff;
        background-color: #6F4528;
    }

    .container-telefone {
        display: flex;
        flex-direction: row;

        margin-top: -1em;
    }

    .text-telefone {
        margin-right: 30px;
    }

    .text-horario {
        margin-top: -0.3em;
    }

    .text-endereco {
        margin-top: -0.2em;
    }
    
}